h3 {
    font-size: 45px;
    color: #2B69DF;
    font-weight: 500;
    margin-bottom: 0;
}


.contact-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 40px 0;
}


.contact-button {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 8px;
    border-radius: 50px;
    transition: all 0.3s ease;
    display: inline-block;
    width: 200px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


.call-button {
    background: linear-gradient(90deg, #007bff, #0056b3);
    color: #fff;
    border: none;
}

.call-button:hover {
    background: linear-gradient(90deg, #0056b3, #003d82);
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}


.email-button {
    background-color: #474747;
    color: #fff;
    border: none;
}

.email-button:hover {
    background-color: #0f1111;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}


@media (max-width: 768px) {
    h3 {
        font-size: 32px; /* Reduce heading size for smaller screens */
        text-align: center;
    }

    .contact-buttons {
        flex-direction: column; /* Stack buttons vertically */
        gap: 15px;
        margin: 30px 0;
        align-items: center;
    }

    .contact-button {
        width: 80%;
        font-size: 18px;
        padding: 12px 25px;
    }
}

@media (max-width: 400px) {
    h3 {
        font-size: 28px;
    }

    .contact-button {
        width: 55%;
        font-size: 16px;
        padding: 10px 20px;
    }

    .contact-buttons {
        gap: 10px;
    }
}