.Hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.heroPic{
    width: 40%;
}


.wrapper {
    margin-top: 5%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

h1{
    font-size: 128px;
    color: #2B69DF;
    font-weight: 500;
    margin: 0;
}

p{
    font-size: 16px;
    margin-bottom: 30%;
}

.button-wrapper{
    display: flex;
    gap: 5%;
}

.button-13{

}

.platforms{
    margin-top: 40px;
}