.Hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.heroPic{
    width: 40%;
    border-radius: 10px;
}


.wrapper {
    margin-top: 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5%;
}

h1{
    font-size: 128px;
    color: #2B69DF;
    font-weight: 500;
    margin: 0;
}

p{
    font-size: 16px;
    margin-bottom: 30%;
}

.button-wrapper{
    display: flex;
    gap: 5%;
}

.button-13{

}

.platforms{
    margin-top: 40px;
}

@media (max-width: 768px) {
    .Hero {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 20px;
    }

    .wrapper {
        flex-direction: column;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        align-items: center;
    }

    h1 {
        font-size: 120px;
        margin-top: 70px;
    }

    p {
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 350px;
    }

    .button-wrapper {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .button-wrapper button {
        width: 100%;
        max-width: 250px;
    }

    .heroPic {
        width: 80%;
        max-width: 280px;
        border-radius: 9px;
        margin-top: 30px;
        display: none;

    }

    .platforms {
        margin-top: 20px;
    }
}
