
.footer-container {
    background-color: #f9f9f9;
    padding: 20px 10px;
    margin-top: 20px;
}


.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}


.footer-logo img {
    width: 100px;
    transition: transform 0.3s ease;
}

.footer-logo img:hover {
    transform: scale(1.1);
}


.footer-social {
    display: flex;
    gap: 15px;
}


.footer-social img {
    width: 36px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.8;
}

.footer-social img:hover {
    transform: scale(1.15);
    opacity: 1;
}


.footer-rights p {
    font-size: 14px;
    color: #707070;
    margin: 0;
}


@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .footer-logo,
    .footer-social,
    .footer-rights {
        flex: 1;
    }


    .footer-social {
        justify-content: center;
    }
}
