* {
    font-family: Gadugi;
    color: #404040;
    font-size: 14px;
}


.logoPic {
    width: 90px;
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: center;
}

.all{
    display: flex;
    justify-content: center;
}

.bar{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    padding: 8px 80px;
    margin-top: 1%;
    border: 0.8px solid #dddddd;
    border-radius: 16px;
    position: fixed;
    background-color: #ffffff;
}

.links{
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: flex-start;
}

.links p{
    margin: 0;
}

a {
    text-decoration: none;
}

.special{
    padding: 2px 5px;
    border: #2B69DF 1px solid;
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: #2B69DF;
}

.special-link{
    color: white;
}






