
.macbook-wrapper{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 10px;

}

.macbook-frame {
    position: relative;
    width: 700px;
    height: 400px;
}

.macbook-image {
    width: 100%;
    height: auto;
    display: block;
    pointer-events: none;
}


.screenshot-container {
    position: absolute;
    top: 12%;
    left: 12%;
    width: 76%;
    height: 76%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screenshot {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
    transition: opacity 6s ease;
}

.descriptions {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
}


.description-container {
    background-color: #ffffff;
    color: #333;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    margin-bottom: 10px;
}

.description-container.highlighted {
    background-color: #474747;
    color: #fff;
    box-shadow: 0 4px 8px rgb(97, 97, 97);
}

.description-container:hover {
    background-color: #474747;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.5);
}

.description-title {
    font-size: 18px;
    margin: 0 0 5px 0;
    font-weight: bold;
    color: inherit;
}

.description-text {
    font-size: 16px;
    margin: 0;
    color: inherit;
}

