


.prim-button {
    background-color: #474747;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #fdfdfd;
    cursor: pointer;
    display: inline-block;
    font-family: Gadugi;
    font-size: 14px;
    padding: 10px 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 120px;
}

.prim-button:hover {
    background-color: #353535;
}

.prim-button:focus {
    border-color: #2B69DF;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

